{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <h4>Acesso ao Sistema Tecsystem</h4>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'account_reset_password' %}">Esqueceu a senha?</a>
        <br><br>
        <button class="btn btn-success" type="submit" title="clique aqui para entrar no sistema" aria-label="clique aqui para entrar no sistema">Entrar</button>
    </form>
{% endblock %}