{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Definir nova senha</h2>
    {% if validlink %}
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Salvar</button>
        </form>
    {% else %}
        <p style="color:red;">Token inválido.</p>
        <p>
            <a href="{% url 'account_reset_password' %}">Solicitar um novo token de redefinição de senha</a>
        </p>
    {% endif %}
{% endblock %}