{% extends 'base.html' %}

{% block title %}Tecsystem Telecom{% endblock %}

{% block content %}
<div class="box">
         <h5 align="center"> Bem vindo ao Sistema de Solicitação de Chamados Técnicos da Tecsystem Telecom.</h5>
         <br>
         <h6 align="center">Acompanhe ou solicite o seu serviço ou manutenção!</h6>
         <br>
         <i><center>Se já for usuário do sistema, clique no botão <strong>ACESSO</strong> no canto superior direito da tela. Para novos usuários clique em <strong>CADASTRO</strong>.</center></i>
         <br>
</div>
    <br>
{% endblock %}