{% extends "base.html" %}

{% block content %}
<br>
    <h4>Solicitações Comerciais</h4>
    <div class="table-responsive">
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Nome</th>
                <th>Empresa</th>
                <th>Prioridade</th>
                <th>Serviço</th>
                <th>Data Criação</th>
                <th>Status</th>
            </tr>
            <ul style="font-size: 18px">
                {% for servico in servicos %}
                    {% if servico.status == 'Pendente' and servico.servico != 'Manutenção' %}
                        <tr>
                            <td>{{ servico.nome_completo }}</td>
                            <td>{{ servico.empresa }}</td>
                            <td>{{ servico.prioridade }}</td>
                            <td>{{ servico.servico }}</td>
                            <td>{{ servico.data_criacao }}</td>
                            <td>{{ servico.status}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </ul>
        </table>
    </div>
    <br>
    <a href="solicitacao/">
        <button type="button" class="btn btn-dark btn-lg btn-block" aria-label="clique aqui para iniciar uma nova solicitação de serviços comercial" title="clique aqui para iniciar uma nova solicitação de serviços comercial">Nova Solicitação Comercial</button>
    </a>

    <br>
    <br>
    <br>
    <br>
   
 <h4>Solicitações de Manutenção</h4>

    <div class="table-responsive">
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Nome</th>
                <th>Empresa</th>
                <th>Prioridade</th>
                <th>Serviço</th>
                <th>Data Criação</th>
                <th>Status</th>
            </tr>

            <ul style="font-size: 18px">
                {% for servico in servicos %}
                    {% if servico.status == 'Pendente' and servico.servico == 'Manutenção' %}
                        <tr>
                            <td>{{ servico.nome_completo }}</td>
                            <td>{{ servico.empresa }}</td>
                            <td>{{ servico.prioridade }}</td>
                            <td>{{ servico.servico }}</td>
                            <td>{{ servico.data_criacao }}</td>
                            <td>{{ servico.status}}</td>
                        </tr>

                    {% endif %}
                {% endfor %}
            </ul>
        </table>
    </div>
    <br>
    <a href="manutencao/">
        <button type="button" class="btn btn-dark btn-lg btn-block" aria-label="clique aqui para iniciar uma nova solicitação de manutenção" title="clique aqui para iniciar uma nova solicitação de manutenção">Nova solicitação de Manutenção</button>
    </a>
    <br>
    <br>
    <h4>Serviços Concluídos</h4>

    <div class="table-responsive">
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Nome</th>
                <th>Empresa</th>
                <th>Prioridade</th>
                <th>Serviço</th>
                <th>Data Criação</th>
                <th>Status</th>
            </tr>

            <ul style="font-size: 18px">
                {% for servico in servicos %}
                    {% if servico.status == 'Concluído' %}
                        <tr>
                            <td>{{ servico.nome_completo }}</td>
                            <td>{{ servico.empresa }}</td>
                            <td>{{ servico.prioridade }}</td>
                            <td>{{ servico.servico }}</td>
                            <td>{{ servico.data_criacao }}</td>
                            <td>{{ servico.status}}</td>
                        </tr>

                    {% endif %}
                {% endfor %}
            </ul>
        </table>
    </div>
    <br>






{% endblock %}