<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}

    {% block title %}Tecsystem Telecom{% endblock %}
    
    {% block content %}

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script>

        const limparFormulario = (endereco) =>{
            document.getElementById('endereco').value = '';
            document.getElementById('bairro').value = '';
            document.getElementById('cidade').value = '';
            document.getElementById('estado').value = '';
        }

        const preencherFormulario = (endereco) =>{
            document.getElementById('endereco').value = endereco.logradouro;
            document.getElementById('bairro').value = endereco.bairro;
            document.getElementById('cidade').value = endereco.localidade;
            document.getElementById('estado').value = endereco.uf;
        }

        const cepValido = (cep) => cep.length == 8 && /^[0-9]+$/.test(cep);

        const pesquisarCep = async() => {
            limparFormulario();

            const cep = document.getElementById('cep').value;
            const url = `https://viacep.com.br/ws/${cep}/json/`;
            if (cepValido(cep)){
                const response = await fetch(url);
                const endereco = await response.json();
                if (endereco.hasOwnProperty('erro')){
                alert('CEP não encontrado!');
                }else{
                preencherFormulario(endereco);
                }
            }else{
                alert('CEP incorreto!');
            }

        }

        document.getElementById('cep')
                .addEventListener('focusout',pesquisarCep);    

    </script>
<body>
    <div class="box">
        <form action="submit" method="POST">{% csrf_token %}
            <fieldset>
                <legend><b>Solicitação Comercial</b></legend>
                <br>

                <div class="inputBox">
                    <input type="text" name="nome_completo" id="nome" class="inputUser" required>
                    <label for="nome" aria-label="insira o nome neste campo" title="insira o nome neste campo" class="labelInput">Nome completo</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="empresa" id="empresa" class="inputUser" required>
                    <label for="empresa" class="labelInput">Empresa</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="cep" id="cep" class="inputUser" onblur="pesquisarCep()"  required>
                    <label for="cep" class="labelInput">CEP</label>
                </div>
                <br><br> 

                 <div class="inputBox">
                    <input type="text" name="endereco" id="endereco" class="inputUser" required>
                    <label for="endereco" class="labelInput">Endereço</label>
                </div>
                <br><br> 

                <div class="inputBox">
                    <input type="text" name="numero" id="numero" class="inputUser" required>
                    <label for="numero" class="labelInput">Número</label>
                </div> 
                <br><br> 

                <div class="inputBox">
                    <input type="text" name="bairro" id="bairro" class="inputUser" required>
                    <label for="bairro" class="labelInput">Bairro</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="cidade" id="cidade" class="inputUser" required>
                    <label for="cidade" class="labelInput">Cidade</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="estado" id="estado" class="inputUser" required>
                    <label for="estado" class="labelInput">Estado</label>
                </div>
                <br><br>
                
                <label for="prioridade">Nível de Prioridade do chamado:</label>
                <br><br>

                <div class="inputBox">
                <select id="level" name="prioridade">
                    <option value="quest">Questionamento</option>
                    <option value="Baixa">Baixo</option>
                    <option value="Média">Médio</option>
                    <option value="Alta">Alto</option>
                    <option value="Critica">Crítico</option>
                </select>
                 </div>
                 <br><br>

                <label for="tecnologia">Selecione a Tecnologia:</label>
                <br><br>
                <div class="inputBox">
                <select id="tecnologia" name="servico">
                    <option value="Solução 3cx">Solução 3CX</option>
                    <option value="Alcatel-Lucent">Alcatel-Lucent</option>
                    <option value="GrandStream">GrandStream</option>
                    <option value="Videoconfêrencia">Videoconfêrencia</option>
                    <option value="Segurança Cibernética">Segurança Cibernética</option>
                    <option value="Locação Soluções SIP">Locação Soluções SIP</option>
                </select>
                 </div>
                <br><br>

                <div class="inputBox">
                <label for="mensagem">Por favor, descreva a questão de maneira detalhada:</label>
                <input type="textarea" name="mensagem" id="mensagem" rows="10" cols="30" required>
                 </div>
                <br><br>

                <input type="submit" value="Enviar" name="Enviar" id="submit" title="clique aqui para ir para Enviar o formulário" aria-label="clique aqui para ir para Enviar o formulário">
                <br><br>

                <a href="/accounts/profile/">
                    <button type="button" class="btn btn-outline-danger" title="clique aqui para cancelar o envio do formulário e retornar à página principal" aria-label="clique aqui para cancelar o envio do formulário e retornar à página principal">Cancelar</button>
                </a>

            </fieldset>
        </form>
    </div>
</body>
</html>
{% endblock %}